{% load static %}
<!DOCTYPE html>
<html lang=en>
    <head>
        <meta   http-equiv= "Pragma"   content= "no-cache" />
        <meta   http-equiv= "Cache-Control"   content= "no-cache" />
        <meta   http-equiv= "Expires"   content= "0" />
        <title>新增地区</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.css"%}"/>
        <script type="text/javascript" src="{% static "js/jquery-1.9.0.js" %}" > </script>
        <style type="text/css">
            body {background-color:#f5f5f5;}
            #main{
                width:700px;height:300px !important;
                background-color:#fff;
                margin:1 auto;margin-top:50;
                border:5px solid;border-color:#D4D4D4;
                text-align:left;
                }
           form input{margin-bottom:20px; height:35px; width:35%}
        </style>
    </head>

<body>

    <div id="main">
            <form action="area_info/", method="POST" onsubmit="return validation();">
            {% csrf_token %}
            <legend>新增地区：</legend>
            <div><span>地区名:</span><input type="text" id="pid11" name="device_name" /><span id="pid1"></span></div>
            <div><span>负责人:</span><input type="text" id="pid22" name="device_area" /><span id="pid2"></span></div>
            <div><span>邮件组:</span><input type="text" id="pid33" name="device_area" /><span id="pid3"></span></div>
            <input class="btn btn-primary" type="submit" value="提交" onclick="validation()" style="width:10%; margin-top:20px; margin-left: 110px;"/>
            </div>
        </form>
    </div>

</body>

</html>

<script>
function validation(){
    if(document.getElementById("pid11").value=="") {
        var name=document.getElementById("pid1");
        name.style.color="red";
        name.innerHTML="不能为空!";
        document.getElementById("pid1").focus();
        return false;
  }
    if(document.getElementById("pid22").value=="") {
        var name=document.getElementById("pid2");
        name.style.color="red";
        name.innerHTML="不能为空!";
        document.getElementById("pid2").focus();
      return false;
  }

  return true;
}
</script>
